<div class="es-menu-accordion" id="offers-services">
    <ul class="top-menu mega">
        <li>
            <h2 class="accordion-title">
                <a href="javascript:void(0);">
                    الخلوي
                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">
                <li>
                    <a href="https://www.orange.jo/ar/offers/Mobilepostpaidoffers/">
                        خطوط الخلوي المدفوعة لاحقاً
                    </a>
                </li>
                <li>
                    <a href="https://www.orange.jo/ar/offers/Mobileprepaidoffers/">
                        الخطوط المدفوعة مسبقاً
                    </a>
                </li>
                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/yo-lines"))">
                        YO خطوط
                    </a>
                </li>
                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/ar/mobile/governorate-lines"))">
                        عروض الخلوي للمحافظات
                    </a>
                </li>
                <li>
                    <a href="https://www.orange.jo/en/services/MobileServices/Pages/default.aspx">
                        خدمات الخلوي
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/pages/feed-w-estafeed-for-prepaid-lines.aspx">
                        فيد واستفيد
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <h2 class="accordion-title">
                <a href="javascript:void(0);">
                    الإنترنت
                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">

                @*<li>
                    <a href="https://eshop.orange.jo/ar/internet/upgrade-speed.html">
                        رفع السرعة
                    </a>
                </li>*@

                <li>
                    <a href="https://www.orange.jo/ar/offers/ADSLOffers/">
                        عروض الـ ADSL
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/offers/fiber-offers/pages/default.aspx">
                        عروض الفايبر
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/offers/baitalailehoffers/">
                        عروض بيت العيلة
                    </a>
                </li>

                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/4g-flybox-offer"))">
                        عروض 4G فلاي بوكس للبيت
                    </a>
                </li>

                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/ar/internet/prepaid-orange-net-offers"))">
                        خدمات الإنترنت
                    </a>
                </li>

                @*<li>
                    <a href="https://eshop.orange.jo/ar/internet/adsl-offers/east-amman-internet.html">
                        إنترنت عمان الشرقية
                    </a>
                </li>*@

                <li>
                    <a href="https://www.orange.jo/ar/services/pages/internet-services.aspx">
                        Internet services
                    </a>
                </li>

                @*<li>
                    <a href="https://www.orange.jo/ar/pages/orange-fiber-family.aspx">
                        عيلة Orange فايبر
                    </a>
                </li>*@

                @*<li>
                    <a href="https://eshop.orange.jo/ar/offers/pages/iew-pay-monthly-army.aspx">
                        عروض نت وين مكان الإشتراكات الشهرية حماة الوطن
                    </a>
                </li>

                <li>
                    <a href="https://eshop.orange.jo/ar/offers/pages/4g-orange-net-prepaid-humat-al-watan.aspx">
                        عرض 4G Orange نت حماة الوطن المدفوع مسبقاً
                    </a>
                </li>*@
            </ul>

        </li>

        <li>
            <h2 class="accordion-title">
                <a href="javascript:void(0);">
                    المكالمات الدولية و التجوال
                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">
                <li>
                    <a href="https://internationalandroaming.orange.jo/">
                        خدمات المكالمات الدولية و التجوال
                    </a>
                </li>
            </ul>
        </li>

        @*<li>
            <h2 class="accordion-title">
                <a href="javascript:void(0);">
                    عروض العيلة
                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">
                <li>
                    <a href="https://eshop.orange.jo/ar/internet/bait-al-aileh-adsl.html">
                        عروض بيت العيلة ADSL
                    </a>
                </li>

                <li>
                    <a href="https://eshop.orange.jo/ar/internet/bait-al-aileh/bait-al-aileh-fiber-offers.html">
                        عروض بيت العيلة فايبر
                    </a>
                </li>
            </ul>
        </li>*@

    </ul>

    <div class="top-menu es-menu-footer">
        <div>
            <a href="https://www.orange.jo/ar/pages/orange-premium.aspx">
                <img src="~/Themes/eshop/content/images/premiumicon.png"><span>Orange Premium</span>
            </a>
        </div>
        <div>
            <a href="https://www.orange.jo/ar/pages/elite-plus.aspx">
                <img src="~/Themes/eshop/content/images/eliteicon.png"><span> +Elite </span>
            </a>
        </div>
        @*<div>
            <a href="https://www.orange.jo/ar/beinconnect/pages/getvoucher.aspx">
                <img src="~/Themes/eshop/content/images/ar/bein_ar.png"><span></span>
            </a>
        </div>*@
        @*<div>
            <a href="https://www.orange.jo/ar/starzplay/pages/getvoucher.aspx">
                <img src="~/Themes/eshop/content/images/ar/starz_ar.png"><span></span>
            </a>
        </div>*@
        <div class="float-right close">
            <i class="fas fa-times"></i>
        </div>
    </div>

</div>
<div class="es-menu-accordion" id="my-account">
    <ul class="top-menu mega">
        <li>
            <h2 class="accordion-title">
                <a href="javascript:void(0);">
                    التسجيل والدخول
                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">
                <li>
                    <a href="https://www.orange.jo/ar/myaccount/pages/default.aspx">
                        الدخول
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/myaccount/pages/registration.aspx">
                        التسجيل
                    </a>
                </li>

                <li>
                    <a href="https://www.eservices.orange.jo/OTRC/IEW/faces/pages/login.xhtml">
                        تحديث معلومات النت وين مكان
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <h2 class="accordion-title">
                <a href="javascript:void(0);">
                    دفع الفواتير و الشحن
                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">
                <li>
                    <a href="https://www.orange.jo/ar/myaccount/pages/quick-pay.aspx">
                        دفع الفواتير و الشحن
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/pages/e-sh7anli.aspx">
                        e - اشحنلي
                    </a>
                </li>
                <li>
                    <a href="https://www.orange.jo/ar/myaccount/pages/payment-methods.aspx">
                        طرق تسديد الفواتير
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <h2 class="accordion-title">
                <a href="javascript:void(0);">
                    تتبع حالة الطلب
                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">
                <li>
                    <a href="https://www.orange.jo/ar/pages/ordertracking.aspx">
                        متابعة طلب الفايبر
                    </a>
                </li>

                <li>
                    <a asp-route="AramexTrackingInfo">
                        متابعة طلب المتجر الإلكتروني
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <h2 class="accordion-title">
                <a href="javascript:void(0);">
                    برنامج المكافآت
                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">
                <li>
                    <a href="https://www.rewards.orange.jo/deals.aspx">
                        عروض Orange
                    </a>
                </li>

                <li>
                    <a href="https://www.rewards.orange.jo/ar/Account/Login">
                        نقاط تكرم
                    </a>
                </li>
            </ul>
        </li>

    </ul>
    <div class="top-menu es-menu-footer">

        <div class="float-right close">
            <i class="fas fa-times"></i>
        </div>
    </div>
</div>
<div class="es-menu-accordion" id="help">
    <ul class="top-menu mega">
        <li>
            <h2 class="accordion-title">
                <a href="javascript:void(0);">
                    مواضيع المساعدة
                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">

                <li>
                    <a href="https://www.orange.jo/ar/chat/pages/infochat.aspx">
                        الدردشة
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/pages/contact-us.aspx">
                        الإتصال بنا
                    </a>
                </li>

                <li>
                    <a href="https://store.orange.jo/">
                        نقاط البيع
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/pages/djingo-chatbot.aspx">
                        Djingo-chatbot
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <h2 class="accordion-title">
                <a href="javascript:void(0);">
                    الأسئلة الشائعة
                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">
                <li>
                    <a href="https://www.orange.jo/ar/help/pages/internet-faq.aspx">
                        الإنترنت
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/help/pages/mobile-faq.aspx">
                        الخلوي
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/help/pages/fixed-faq.aspx">
                        الثابت
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <h2 class="accordion-title">
                <a href="https://www.orange.jo/ar/pages/coverage.aspx">
                    تغطيتنا
                </a>
            </h2>
        </li>
    </ul>

    <div class="top-menu es-menu-footer">
        <div>
            <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/ar/eshop-promotions"))">
                <span class="icon-discount-white">&nbsp;</span><span>العروض</span>
            </a>
        </div>
        <div>
            <a href="https://www.orange.jo/ar/myaccount/pages/quick-pay.aspx" target="_self">
                <span class="icon-top-up-euro">&nbsp;</span> <span>الشحن ودفع الفواتير</span>
            </a>
        </div>
        <div class="float-right close">
            <i class="fas fa-times"></i>
        </div>
    </div>
</div>