<div class="es-menu-accordion" id="offers-services">
    <ul class="top-menu mega">

        <li>
            <h2 class="accordion-title">
                <a href="javascript:void(0);">
                    Mobile
                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">
                <li>
                    <a href="https://www.orange.jo/en/offers/Mobilepostpaidoffers/">
                        Mobile postpaid Offers
                    </a>
                </li>
                <li>
                    <a href="https://www.orange.jo/en/offers/Mobileprepaidoffers/">
                        Mobile prepaid lines
                    </a>
                </li>
                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/yo-lines"))">
                        YO Lines
                    </a>
                </li>
                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/en/mobile/governorate-lines"))">
                        Mobile Governorates offers
                    </a>
                </li>
                <li>
                    <a href="https://www.orange.jo/en/services/MobileServices/Pages/default.aspx">
                        Mobile Services
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/pages/feed-w-estafeed-for-prepaid-lines.aspx">
                        Feed W Estafeed service
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <h2 class="accordion-title">
                <a href="javascript:void(0);">
                    Internet
                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">

                @*<li>
                    <a href="https://eshop.orange.jo/ar/internet/upgrade-speed.html">
                        Upgrade your speed
                    </a>
                </li>*@

                <li>
                    <a href="https://www.orange.jo/en/offers/ADSLOffers/">
                        ADSL offers
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/en/offers/fiber-offers/pages/default.aspx">
                        Fiber offers
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/en/offers/baitalailehoffers/">
                        Bait Al Aileh offers
                    </a>
                </li>

                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/4g-flybox-offer"))">
                        4G Flybox offers
                    </a>
                </li>

                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/en/internet/prepaid-orange-net-offers"))">
                        Prepaid Orange net
                    </a>
                </li>

                @*<li>
                    <a href="https://eshop.orange.jo/ar/internet/adsl-offers/east-amman-internet.html">
                        Internet for East Amman
                    </a>
                </li>*@

                <li>
                    <a href="https://www.orange.jo/ar/services/pages/internet-services.aspx">
                        Internet services
                    </a>
                </li>

                @*<li>
                    <a href="https://www.orange.jo/ar/pages/orange-fiber-family.aspx">
                        Orange fiber family
                    </a>
                </li>*@

                @*<li>
                    <a href="https://eshop.orange.jo/ar/offers/pages/iew-pay-monthly-army.aspx">
                        IEW Pay Monthly Humat al Watan
                    </a>
                </li>

                <li>
                    <a href="https://eshop.orange.jo/ar/offers/pages/4g-orange-net-prepaid-humat-al-watan.aspx">
                        4G Orange Net Prepaid Humat al Watan
                    </a>
                </li>*@
            </ul>

        </li>

        <li>
            <h2 class="accordion-title">
                <a href="javascript:void(0);">
                    International and Roaming
                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">
                <li>
                    <a href="https://internationalandroaming.orange.jo/">
                        International and Roaming services
                    </a>
                </li>
            </ul>
        </li>

        @*<li>
            <h2 class="accordion-title">
                <a  href="javascript:void(0);">
                    Family Offers
                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">
                <li>
                    <a href="https://eshop.orange.jo/ar/internet/bait-al-aileh-adsl.html">
                        Bait Al Aileh ADSL
                    </a>
                </li>

                <li>
                    <a href="https://eshop.orange.jo/ar/internet/bait-al-aileh/bait-al-aileh-fiber-offers.html">
                        Bait Al Aileh Fiber
                    </a>
                </li>
            </ul>
        </li>*@

    </ul>

    <div class="top-menu es-menu-footer">
        <div>
            <a href="https://www.orange.jo/ar/pages/orange-premium.aspx">
                <img src="~/Themes/eshop/content/images/premiumicon.png"><span>Orange Premium</span>
            </a>
        </div>
        <div>
            <a href="https://www.orange.jo/ar/pages/elite-plus.aspx">
                <img src="~/Themes/eshop/content/images/eliteicon.png"><span> Elite + </span>
            </a>
        </div>
        @*<div>
            <a href="https://www.orange.jo/ar/beinconnect/pages/getvoucher.aspx">
                <img src="~/Themes/eshop/content/images/en/bein_en.png"><span></span>
            </a>
        </div>*@
        @*<div>
            <a href="https://www.orange.jo/ar/starzplay/pages/getvoucher.aspx">
                <img src="~/Themes/eshop/content/images/en/starz_en.png"><span></span>
            </a>
        </div>*@
        <div class="float-right close">
            <i class="fas fa-times"></i>
        </div>
    </div>

</div>
<div class="es-menu-accordion" id="my-account">
    <ul class="top-menu mega">
        <li>
            <h2 class="accordion-title">
                <a href="javascript:void(0);">
                    Login and register
                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">
                <li>
                    <a href="https://www.orange.jo/ar/myaccount/pages/default.aspx">
                        Login
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/myaccount/pages/registration.aspx">
                        Register
                    </a>
                </li>

                <li>
                    <a href="https://www.eservices.orange.jo/OTRC/IEW/faces/pages/login.xhtml">
                        Update IEW prepaid info
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <h2 class="accordion-title">
                <a href="javascript:void(0);">
                    Bills payment and recharge
                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">
                <li>
                    <a href="https://www.orange.jo/en/myaccount/pages/quick-pay.aspx">
                        Pay bills and recharge online
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/pages/e-sh7anli.aspx">
                        e-sh7anli
                    </a>
                </li>
                <li>
                    <a href="https://www.orange.jo/ar/myaccount/pages/payment-methods.aspx">
                        Payment methods
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <h2 class="accordion-title">
                <a href="javascript:void(0);">
                    Order tracking
                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">
                <li>
                    <a asp-route="AramexTrackingInfo">
                        Check eShop order status
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/en/pages/ordertracking.aspx">
                        Fiber line order tracking
                    </a>
                </li>
            </ul>
        </li>


        <li>
            <h2 class="accordion-title">
                <a href="javascript:void(0);">
                    Rewards

                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">
                <li>
                    <a href="https://www.rewards.orange.jo/deals.aspx">
                        Orange Deals
                    </a>
                </li>

                <li>
                    <a href="https://www.rewards.orange.jo/ar/Account/Login">
                        Tikram Points
                    </a>
                </li>
            </ul>
        </li>

    </ul>
    <div class="top-menu es-menu-footer">

        <div class="float-right close">
            <i class="fas fa-times"></i>
        </div>
    </div>
</div>
<div class="es-menu-accordion" id="help">
    <ul class="top-menu mega">
        <li>
            <h2 class="accordion-title">
                <a href="javascript:void(0);">
                    Help topics
                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">

                <li>
                    <a href="https://www.orange.jo/ar/chat/pages/infochat.aspx">
                        Online chat
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/pages/contact-us.aspx">
                        Contact us
                    </a>
                </li>

                <li>
                    <a href="https://store.orange.jo/">
                        Store locator
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/pages/djingo-chatbot.aspx">
                        Djingo-chatbot
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/help/internet/pages/guide-to-best-fiber-experience.aspx">
                        Your guide to the best fiber experience
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/pages/4g-plus.aspx">
                        4G+
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <h2 class="accordion-title">
                <a href="javascript:void(0);">
                    FAQ's
                </a>
            </h2>

            <div class="sublist-toggle"></div>
            <ul class="sublist first-level">
                <li>
                    <a href="https://www.orange.jo/ar/help/pages/internet-faq.aspx">
                        Internet
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/help/pages/mobile-faq.aspx">
                        Mobile
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/help/pages/fixed-faq.aspx">
                        Fixed line
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <h2 class="accordion-title">
                <a href="https://www.orange.jo/ar/pages/coverage.aspx">
                    Coverage map
                </a>
            </h2>
        </li>
    </ul>

    <div class="top-menu es-menu-footer">
        <div>
            <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/en/eshop-promotions"))">
                <span class="icon-discount-white">&nbsp;</span> <span>Promotions</span>
            </a>
        </div>
        <div>
            <a href="https://www.orange.jo/en/myaccount/pages/quick-pay.aspx" target="_self">
                <span class="icon-top-up-euro">&nbsp;</span> <span>Pay bills and recharge</span>
            </a>
        </div>
        <div class="float-right close">
            <i class="fas fa-times"></i>
        </div>
    </div>
</div>