<li class="mobile-root-menu">
    <a href="/">
        المتجر الإلكتروني
        <i class="fas fa-angle-right"></i>
    </a>
    <div class="sublist-toggle"></div>
    <ul class="sublist first-level">
        <li class="back-menu">
            @*<i class="fas fa-angle-left"></i>*@
            المتجر الإلكتروني
        </li>
        <li>
            <a href="https://eshop.orange.jo/ar/">
                الصفحة الرئيسية <i class="fas fa-angle-right"></i>
            </a>
        </li>
        <li class="has-child">
            <a href="javascript:void(0);">
                الخلوي
                <i class="fas fa-sort-down"></i>
            </a>
            <div class="sublist-toggle"></div>
            <ul class="sublist ">

                <li>
                    <a href="https://www.orange.jo/ar/offers/Mobilepostpaidoffers/">
                        خطوط الخلوي المدفوعة لاحقاً

                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.orange.jo/ar/offers/Mobileprepaidoffers/">
                        الخطوط المدفوعة مسبقاً
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/yo-lines"))">
                        YO خطوط <i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("ar/mobile/governorate-lines"))">
                        عروض الخلوي للمحافظات

                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("ar/mobile/mobile-phone"))">
                        الأجهزة الخلوية
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>

                @*<li>
            <a href="/mobile-packages">
                حزم الأجهزة الخلوية من Orange
                <i class="fas fa-angle-right"></i>
            </a>
        </li>*@
            </ul>
        </li>

        <li class="has-child">
            <a href="javascript:void(0);">
                الانترنت
                <i class="fas fa-sort-down"></i>
            </a>

            <div class="sublist-toggle"></div>
            <ul class="sublist ">
                <li>
                    <a href="https://www.orange.jo/ar/offers/ADSLOffers/">
                        عروض الـ ADSL
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("ar/upgrade"))">
                        رفع سرعه ADSL

                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("ar/4g-flybox-offer"))">
                        عروض 4G فلاي بوكس للبيت
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/prepaid-orange-net-offers"))">
                        عروض Orange نت المدفوعة مسبقاً
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>

                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/bait-al-aileh-offers"))">
                        عروض بيت العيلة
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </li>

        <li class="has-child">
            <a href="javascript:void(0);">
                فايبر
                <i class="fas fa-sort-down"></i>
            </a>
            <div class="sublist-toggle"></div>
            <ul class="sublist ">
                <li>
                    <a href="https://www.orange.jo/ar/offers/fiber-offers/pages/default.aspx">
                        إنترنت سريع Orange فايبر

                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>

                @*<li>
                    <a href="/fiber-speed-upgrade">
                        رفع سرعه الفايبر

                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>*@
            </ul>
        </li>
        <li class="">
            <a href="javascript:void(0);">
                الخط الثابت<i class="fas fa-sort-down"></i>
            </a>
            <div class="sublist-toggle"></div>
            <ul class="sublist ">
                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/fixed-postpaid-lines"))">
                        العروض المدفوعة لاحقاً

                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:void(0);">
                إكسسوارات <i class="fas fa-sort-down"></i>
            </a>
            <div class="sublist-toggle"></div>
            <ul class="sublist ">
                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("ar/accessories/mobile-accessories"))">
                        إكسسوارات الخلوي
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/internet-accessories"))">
                        إكسسوارات الانترنت
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="@(Nop.Services.Common.UrlStrucutre.UrlDecode("/fixed-phones"))">
                        الهواتف الثابتة
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="https://eshop.orange.jo/ar/promotions/">
                الترقيات
                <i class="icon-discount-white"></i>
            </a>
        </li>
        <li>
            <a href="https://www.orange.jo/ar/myaccount/pages/quick-pay.aspx" target="_self">
                دفع الفواتير وإعادة شحن
                <i class="icon-top-up-euro"></i>
            </a>
        </li>
        <li>
            <a href="@Url.RouteUrl("CompareProducts")">
                @T("Products.Compare.List")<i class="fas fa-angle-right"></i>
            </a>
        </li>
    </ul>
</li>