@model IList<CategoryModel>
@using Nop.Core
@inject IWorkContext workContext
@{
    var supportRtl = workContext.WorkingLanguage.Rtl;
    var rtl = supportRtl ? "true" : "false";
}

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <script asp-location="Footer">
        $(document).ready(function () {
            $(function () {
                $('.tabs-nav a', '.div-cat-@(item.Id)').click(function () {

                    // Check for active
                    $('.div-cat-@(item.Id) .tabs-nav li').removeClass('active');
                    $(this).parent().addClass('active');

                    // Display active tab
                    let currentTab = $(this).attr('href');
                    $('.div-cat-@(item.Id) .tabs-content > div').hide();
                    $(currentTab).show();

                    return false;
                });
            });
        })
        </script>
        <div id="div-subcat-@(item.Id)" class="div-cat-container mask-left">
            <div class="container">
                <div class="prd-title">
                    <h2>@item.Name</h2>
                    <div class="other-link" style="display:none !important;" id="productTagFilter">
                        <ul>
                            <li><a href="/eshop-promotions"><i class="cir"></i><span>@T("HomePage.Category.Promotions")</span></a></li>
                            <li class="best-seller-icon">
                                <div class="dropdown">
                                    <div class="dropdown-toggle" id="catadropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="cir"></i><span>@T("HomePage.Category.BestSeller")</span>
                                    </div>
                                    <div class="dropdown-menu" aria-labelledby="catadropdownMenuButton" id="bestsellerlist-@(item.Id)">
                                        @*Add filter list by json*@
                                    </div>
                                </div>
                            </li>
                            <li class="compare-icon"><a href="/compareproducts"><i class="cir"></i><span>@T("HomePage.Category.Compare")</span></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="div-cat-@(item.Id)">
                <div class="container">
                    @await Html.PartialAsync("_SubCategoryPartial.cshtml", item)
                </div>
                <div class="tabs-content">
                    @for (int i = 0; i < item.SubCategories.Count; i++)
                    {
                        var viewAllText = string.Format(T("HomePage.Category.ViewAll").Text, item.Name);
                        var subcategory = item.SubCategories[i];
                        var divId = $"-{item.Id}-{subcategory.Id}";
                        <div id="tab@(divId)">
                            <div id="div@(divId)">
                                <div class="ajax-loading-productload" style="">
                                </div>
                                @*Add All product by json*@
                            </div>
                            <div class="move-btn">
                                <a class="btn btn-outline-dark move-btn" href="@UrlStrucutre.UrlDecode(Url.RouteUrl("Category", new { SeName = subcategory.SeName }))">@viewAllText</a>
                            </div>
                        </div>
                        if (i == 0)
                        {
                            <script asp-location="Footer">
                                $(document).ready(function () {
                                    GetCategoriesShowWithSubCategories(@(item.Id),@(subcategory.Id), '@(divId)',@rtl, 0)
                                    //GetHomePageProduct(@(item.Id),@(subcategory.Id), '@(divId)',@rtl, 0)
                                });
                            </script>
                        }
                    }
                </div>
            </div>
        </div>
    }

    <div class="prd-drawer prd-drawer-subCat" id="cat-drawer-load">
    </div>
    <div class="drawer-layer" id="drawer-layer-subCat"></div>
    <script asp-location="Footer">
        function closeDrawer() {
            $('body').toggleClass("scroll-lock");
            $('.prd-drawer-subCat').toggleClass('active');

            $('#drawer-layer-subCat').toggleClass('active');
        }

        function LoadCategoryProduct(categoryId, productTagId = 0, rtl = false, parentCategoryId = 0) {
            $('#cat-drawer-load').empty();
            $('body').toggleClass("scroll-lock");
            $('.prd-drawer-subCat').toggleClass('active');

            $('#drawer-layer-subCat').toggleClass('active');
            GetSubCategoryProducts(categoryId, productTagId, rtl, parentCategoryId);
        }

        function GetSubCategoryProducts(categoryId, productTagId = 0, rtl = false, parentCategoryId = 0) {
            $("#cat-drawer-load").html("<div class='ajax-loading-productload' style=''></div>");
            var postData = {
                categoryId: categoryId,
                productTagId: productTagId,
                parentCategoryId: parentCategoryId
            };
            addAntiForgeryToken(postData);
            $.ajax({
                cache: false,
                type: "POST",
                url: "/CustomProduct/GetCategoryProducts",
                data: postData,
                dataType: 'json',
                success: function (response) {
                    $("#cat-drawer-load").html(response.html);
                    $("#bestsellerlist-drawer-" + categoryId).html(response.filterhtml);
                    $('#drawer-prd-slider-' + categoryId).owlCarousel({
                        loop: response.isOwlLoopTrue,
                        margin: 20,
                        dots: false,
                        nav: true,
                        autoWidth: true,
                        rtl: rtl,
                        //for animation
                        navText: ["", "<div class='timer'><span class='mask'><span class='rotator' style='transform: rotate(1deg);'></span></span></div>"],
                        responsive: {
                            0: {
                                margin: 10,
                            },
                            991: {
                                margin: 10,
                            },
                            992: {
                                margin: 10,
                            },
                            1366: {
                                margin: 10,
                            },
                            1400: {
                                margin: 20,
                            }
                        }
                    });

                    //for animation
                    var parentID = "#drawer-div-" + categoryId + "";
                    var animationspeed = @(Nop.Web.EShopHelper.Animationspeed);

                    //function for animation
                    AnimationCircling(animationspeed, parentID);

                    $('[data-toggle="tooltip"]').tooltip();
                },
                failure: function (response) {
                    alert(response);
                    $("#bestsellerlist-drawer-" + categoryId).html('');
                }
            });
        }

        function GetCategoriesShowWithSubCategories(categoryId, subCategoryId, containerId, rtl = false, productTagId = 0) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "/CustomCatalog/GetCategoriesBySubCategories",
                data: { "categoryId": categoryId, "subCategoryId": subCategoryId, "productTagId": productTagId},
                dataType: 'json',
                success: function (response) {
                    $("#div" + containerId).html(response.html);
                    if (response.filterhtml != "") {
                        $("#productTagFilter").show();
                        $("#bestsellerlist-" + categoryId).html(response.filterhtml);
                    }
                    else {
                        $("#productTagFilter").hide();
                    }

                    $('#home-page-product' + containerId).owlCarousel({
                        loop: response.isOwlLoopTrue,
                        margin: 20,
                        dots: true,
                        nav: true,
                        autoWidth: true,
                        rtl: rtl,
                        //for animation
                        navText: ["", "<div class='timer'><span class='mask'><span class='rotator' style='transform: rotate(1deg);'></span></span></div>"],
                        responsive: {
                            0: {
                                margin: 10,
                                items:1
                            },
                            991: {
                                margin: 10,
                                items: 1
                            },
                            992: {
                                margin: 10,
                                items: 1
                            },
                            1366: {
                                margin: 10
                            },
                            1400: {
                                margin: 20
                            }
                        }
                    });

                    //for animation
                    var parentID = "#home-page-product" + containerId + "";
                    var animationspeed = @(Nop.Web.EShopHelper.Animationspeed);

                    //function for animation
                    AnimationCircling(animationspeed, parentID);
                },
                failure: function (response) {
                    alert(response);
                }
            });
        }
    </script>
}