@model Nop.Web.Customization.Models.Catalog.CategoryProductModel
@using Nop.Services.Helpers
@using Nop.Core
@inject IWorkContext workContext
@inject IUserAgentHelper userAgentHelper
@{
    var supportRtl = workContext.WorkingLanguage.Rtl;
    var rtl = supportRtl ? "true" : "false";

    var boxCalss = "mobile-plan-product";
    if(Model.CategoryProductBoxTemplate == "_ProductBox")
    {
        boxCalss = "plan-whoutpic-product";
    }
    else if(Model.CategoryProductBoxTemplate == "_ProductBoxFixedPlans")
    {
        boxCalss = "plan-whoutpic-product";
    }
    else if (Model.CategoryProductBoxTemplate == "_ProductBoxInternetPlan")
    {
        boxCalss = "plan-whoutpic-product";
    }
    else if (Model.CategoryProductBoxTemplate == "_ProductBoxMobilePlan")
    {
        boxCalss = "mobile-plan-product";
    }
    else if (Model.CategoryProductBoxTemplate == "_ProductBoxSmartLife")
    {
        boxCalss = "plan-whoutpic-product";
    }
}

@if (userAgentHelper.IsMobileDevice())
{
    <div class="product-grid @(boxCalss)">
        <div class="item-grid">

            <div class="owl-carousel prd-auto-width prd-arrow-right" id="catalog-owl_@Model.CategoryId">
                @foreach (var item in Model.ProductOverviewModel)
                {
                    <div class="item-box">
                        @await Html.PartialAsync(Model.CategoryProductBoxTemplate, item)
                    </div>
                }
            </div>

        </div>
    </div>
    <script asp-location="Footer">
        $(document).ready(function () {
            $('#catalog-owl_' + @Model.CategoryId).owlCarousel({
                loop: false,
                margin: 15,
                dots: false,
                autoWidth: true,
                nav: true,
                rtl: @(rtl),

                //for animation
                navText: ["", "<div class='timer'><span class='mask'><span class='rotator' style='transform: rotate(1deg);'></span></span></div>"],
            });

            //for animation
            var parentID = "#catalog-owl_" + @Model.CategoryId;
            var animationspeed = @(Nop.Web.EShopHelper.Animationspeed);

            //function for animation
            AnimationCircling(animationspeed, parentID);
        });
    </script>
}
else
{
    <div class="product-grid @(boxCalss)">
        <div class="item-grid">
            <div class="row">
                @foreach (var item in Model.ProductOverviewModel)
                {
                    <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">
                        <div class="item-box">
                            @await Html.PartialAsync(Model.CategoryProductBoxTemplate, item)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
