@model TopMenuModel

<div class="menu">
    <ul>
        <li>
            <a href="@T("HomePageTopMenu.TopMenu2.eShop.URL")">@T("HomePageTopMenu.TopMenu2.eShop")</a>
            <div class="menu-drop">
                <div class="container">
                    <div class="menu-container">
                        <div class="menu-list">
                            <ul>
                                <li><h2>@T("HomePageTopMenu.TopMenu2.eShop.Mobile")</h2></li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.eShop.Mobile.Mobilepostpaidlines.URL")">
                                        @T("HomePageTopMenu.TopMenu2.eShop.Mobile.Mobilepostpaidlines")
                                    </a>
                                </li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.eShop.Mobile.Mobileprepaidlines.URL")">
                                        @T("HomePageTopMenu.TopMenu2.eShop.Mobile.Mobileprepaidlines")
                                    </a>
                                </li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.eShop.Mobile.YOLines.URL")">
                                        @T("HomePageTopMenu.TopMenu2.eShop.Mobile.YOLines")
                                    </a>
                                </li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.eShop.Mobile.MobileGovernoratesoffers.URL")">
                                        @T("HomePageTopMenu.TopMenu2.eShop.Mobile.MobileGovernoratesoffers")
                                    </a>
                                </li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.eShop.Mobile.Mobilephones.URL")">
                                        @T("HomePageTopMenu.TopMenu2.eShop.Mobile.Mobilephones")
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li><h2>@T("HomePageTopMenu.TopMenu2.eShop.Internet")</h2></li>
                                <li>
                                    <a href=@T("HomePageTopMenu.TopMenu2.eShop.Internet.ADSLoffers.URL")>
                                        @T("HomePageTopMenu.TopMenu2.eShop.Internet.ADSLoffers")
                                    </a>
                                </li>
                                <li>
                                    <a href=@T("HomePageTopMenu.TopMenu2.eShop.Internet.ADSLSpeedupgrade.URL")>
                                        @T("HomePageTopMenu.TopMenu2.eShop.Internet.ADSLSpeedupgrade")
                                    </a>
                                </li>

                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.eShop.Internet.4GFlyboxffers.URL")">
                                        @T("HomePageTopMenu.TopMenu2.eShop.Internet.4GFlyboxffers")
                                    </a>
                                </li>

                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.eShop.Internet.PrepaidOrangenetoffers.URL")">
                                        @T("HomePageTopMenu.TopMenu2.eShop.Internet.PrepaidOrangenetoffers")
                                    </a>
                                </li>

                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.eShop.Internet.BaitAlAilehoffers.URL")">
                                        @T("HomePageTopMenu.TopMenu2.eShop.Internet.BaitAlAilehoffers")
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li><h2>@T("HomePageTopMenu.TopMenu2.eShop.Fiber")</h2></li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.eShop.Fiber.OrangeFiberFastInternet.URL")">
                                        @T("HomePageTopMenu.TopMenu2.eShop.Fiber.OrangeFiberFastInternet")
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li><h2>@T("HomePageTopMenu.TopMenu2.eShop.Fixedline")</h2></li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.eShop.Fixedline.Fixedpostpaidlines.URL")">
                                        @T("HomePageTopMenu.TopMenu2.eShop.Fixedline.Fixedpostpaidlines")
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li><h2>@T("HomePageTopMenu.TopMenu2.eShop.Accessories")</h2></li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.eShop.Accessories.Mobileaccessories.URL")">
                                        @T("HomePageTopMenu.TopMenu2.eShop.Accessories.Mobileaccessories")
                                    </a>
                                </li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.eShop.Accessories.Internetaccessories.URL")">
                                        @T("HomePageTopMenu.TopMenu2.eShop.Accessories.Internetaccessories")
                                    </a>
                                </li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.eShop.Accessories.Fixedphones.URL")">
                                        @T("HomePageTopMenu.TopMenu2.eShop.Accessories.Fixedphones")
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-list-bottom">
                            <ul>
                                <li><a href="@T("HomePageTopMenu.TopMenu2.eShop.Promotions.URL")" class="icon-discount">@T("HomePageTopMenu.TopMenu2.eShop.Promotions")</a></li>
                                <li><a href="@T("HomePageTopMenu.TopMenu2.eShop.Paybillsandrecharge.URL")" class="icon-top">@T("HomePageTopMenu.TopMenu2.eShop.Paybillsandrecharge")</a></li>
                                <li><a href="@T("HomePageTopMenu.TopMenu2.eShop.Compareproductslist.URL")" class="icon-top">@T("HomePageTopMenu.TopMenu2.eShop.Compareproductslist")</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.URL")">@T("HomePageTopMenu.TopMenu2.OffersAndServices")</a>
            <div class="menu-drop">
                <div class="container">
                    <div class="menu-container">
                        <div class="menu-list">
                            <ul>
                                <li><h2>@T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile")</h2></li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.MobilepostpaidOffers.URL")">
                                        @T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.MobilepostpaidOffers")
                                    </a>
                                </li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.Mobileprepaidlines.URL")">
                                        @T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.Mobileprepaidlines")
                                    </a>
                                </li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.YOLines.URL")">
                                        @T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.YOLines")
                                    </a>
                                </li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.MobileGovernoratesoffers.URL")">
                                        @T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.MobileGovernoratesoffers")
                                    </a>
                                </li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.MobileServices.URL")">
                                        @T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.MobileServices")
                                    </a>
                                </li>

                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.FeedWEstafeedservice.URL")">
                                        @T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.FeedWEstafeedservice")
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li><h2>@T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet")</h2></li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.ADSLoffers.URL")">
                                        @T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.ADSLoffers")
                                    </a>
                                </li>

                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.Fiberoffers.URL")">
                                        @T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.Fiberoffers")
                                    </a>
                                </li>

                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.BaitAlAilehoffers.URL")">
                                        @T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.BaitAlAilehoffers")
                                    </a>
                                </li>

                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.4GFlyboxoffers.URL")">
                                        @T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.4GFlyboxoffers")
                                    </a>
                                </li>

                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.PrepaidOrangenet.URL")">
                                        @T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.PrepaidOrangenet")
                                    </a>
                                </li>


                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.Internetservices.URL")">
                                        @T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.Internetservices")
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li><h2>@T("HomePageTopMenu.TopMenu2.OffersAndServices.InternationalandRoamin")</h2></li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.InternationalandRoamin.URL")">
                                        @T("HomePageTopMenu.TopMenu2.OffersAndServices.InternationalandRoamin")
                                    </a>
                                </li>
                            </ul>
                        </div> 
                        <div class="menu-list-bottom withimg">
                            <ul>
                                <li><a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.OrangePremium.URL")" class="icon-orange"><img src="~/Themes/Eshop2021/Content/images/orange-premium.png"/></a></li>
                                <li><a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Elite+.URL")" class="icon-elite"><img src="~/Themes/Eshop2021/Content/images/elite-plus.png" /></a></li>
                                <li><a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.beinconnect.URL")" class="icon-voucer"><img src="~/Themes/Eshop2021/Content/images/extra.png" /></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.URL")">@T("HomePageTopMenu.TopMenu2.Myaccount")</a>
            <div class="menu-drop">
                <div class="container">
                    <div class="menu-container">
                        <div class="menu-list">
                            <ul>
                                <li><h2>@T("HomePageTopMenu.TopMenu2.Myaccount.Loginandregister")</h2></li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.Loginandregister.Login.URL")">
                                        @T("HomePageTopMenu.TopMenu2.Myaccount.Loginandregister.Login")
                                    </a>
                                </li>

                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.Loginandregister.Register.URL")">
                                        @T("HomePageTopMenu.TopMenu2.Myaccount.Loginandregister.Register")
                                    </a>
                                </li>

                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.Loginandregister.UpdateIEWprepaidinfo.URL")">
                                        @T("HomePageTopMenu.TopMenu2.Myaccount.Loginandregister.UpdateIEWprepaidinfo")
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li><h2>@T("HomePageTopMenu.TopMenu2.Myaccount.Billspaymentandrecharge")</h2></li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.Billspaymentandrecharge.Paybillsandrechargeonline.URL")">
                                        @T("HomePageTopMenu.TopMenu2.Myaccount.Billspaymentandrecharge.Paybillsandrechargeonline")
                                    </a>
                                </li>

                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.Billspaymentandrecharge.e-sh7anli.URL")">
                                        @T("HomePageTopMenu.TopMenu2.Myaccount.Billspaymentandrecharge.e-sh7anli")
                                    </a>
                                </li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.Billspaymentandrecharge.Paymentmethods.URL")">
                                        @T("HomePageTopMenu.TopMenu2.Myaccount.Billspaymentandrecharge.Paymentmethods")
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li><h2>@T("HomePageTopMenu.TopMenu2.Myaccount.Ordertracking")</h2></li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.Ordertracking.CheckeShoporderstatus.URL")">
                                        @T("HomePageTopMenu.TopMenu2.Myaccount.Ordertracking.CheckeShoporderstatus")
                                    </a>
                                </li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.Ordertracking.Fiberlineordertracking.URL")">
                                        @T("HomePageTopMenu.TopMenu2.Myaccount.Ordertracking.Fiberlineordertracking")
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li><h2>@T("HomePageTopMenu.TopMenu2.Myaccount.Rewards")</h2></li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.Rewards.OrangeDeals.URL")">
                                        @T("HomePageTopMenu.TopMenu2.Myaccount.Rewards.OrangeDeals")
                                    </a>
                                </li>

                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.Rewards.TikramPoints.URL")">
                                        @T("HomePageTopMenu.TopMenu2.Myaccount.Rewards.TikramPoints")
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="@T("HomePageTopMenu.TopMenu2.Help.URL")">@T("HomePageTopMenu.TopMenu2.Help")</a>
            <div class="menu-drop">
                <div class="container">
                    <div class="menu-container">
                        <div class="menu-list">
                            <ul>
                                <li><h2>@T("HomePageTopMenu.TopMenu2.Help.Helptopics")</h2></li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.Help.Helptopics.Onlinechat.URL")">
                                        @T("HomePageTopMenu.TopMenu2.Help.Helptopics.Onlinechat")
                                    </a>
                                </li>

                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.Help.Helptopics.Contactus.URL")">
                                        @T("HomePageTopMenu.TopMenu2.Help.Helptopics.Contactus")
                                    </a>
                                </li>

                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.Help.Helptopics.Storelocator.URL")">
                                        @T("HomePageTopMenu.TopMenu2.Help.Helptopics.Storelocator")
                                    </a>
                                </li>

                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.Help.Helptopics.Djingo-chatbot.URL")">
                                        @T("HomePageTopMenu.TopMenu2.Help.Helptopics.Djingo-chatbot")
                                    </a>
                                </li>

                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.Help.Helptopics.Yourguide.URL")">
                                        @T("HomePageTopMenu.TopMenu2.Help.Helptopics.Yourguide")
                                    </a>
                                </li>

                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.Help.Helptopics. 4G+.URL")">
                                        @T("HomePageTopMenu.TopMenu2.Help.Helptopics. 4G+")
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li><h2>@T("HomePageTopMenu.TopMenu2.Help.FAQ")</h2></li>
                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.Help.FAQ.Internet.URL")">
                                        @T("HomePageTopMenu.TopMenu2.Help.FAQ.Internet")
                                    </a>
                                </li>

                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.Help.FAQ.Mobile.URL")">
                                        @T("HomePageTopMenu.TopMenu2.Help.FAQ.Mobile")
                                    </a>
                                </li>

                                <li>
                                    <a href="@T("HomePageTopMenu.TopMenu2.Help.FAQ.Fixedline.URL")">
                                        @T("HomePageTopMenu.TopMenu2.Help.FAQ.Fixedline")
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <h2>
                                        <a href="@T("HomePageTopMenu.TopMenu2.Help.Coveragemap.URL")">
                                            @T("HomePageTopMenu.TopMenu2.Help.Coveragemap")
                                        </a>
                                    </h2>
                                </li>

                            </ul>
                        </div>
                        <div class="menu-list-bottom">
                            <ul>
                                <li><a href="@T("HomePageTopMenu.TopMenu2.Help.Promotions.URL")" class="icon-discount">@T("HomePageTopMenu.TopMenu2.Help.Promotions")</a></li>
                                <li><a href="@T("HomePageTopMenu.TopMenu2.Help.Paybillsandrecharge.URL")" class="icon-top">@T("HomePageTopMenu.TopMenu2.Help.Paybillsandrecharge")</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<ul class="top-menu mobile">
    <li class="mobile-root-menu">
        <a href="@T("HomePageTopMenu.TopMenu2.eShop.URL")">
            @T("HomePageTopMenu.TopMenu2.eShop")
            <i class="fas fa-angle-right"></i>
        </a>
        
        <div class="sublist-toggle"></div>
        <ul class="sublist first-level" style="display: none;">
            <li class="back-menu">
                @T("HomePageTopMenu.TopMenu2.eShop.Mobile")
            </li>
            <li>
                <a href="/">
                    @T("HomePageTopMenu.TopMenu2.eShopMobile") <i class="fas fa-angle-right"></i>
                </a>
            </li>
            <li class="has-child">
                <a href="javascript:void(0);">
                    @T("HomePageTopMenu.TopMenu2.eShop.Mobile")
                    <i class="fas fa-sort-down"></i>
                </a>
                <div class="sublist-toggle"></div>
                <ul class="sublist ">

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.eShop.Mobile.Mobilepostpaidlines.URL")">
                            @T("HomePageTopMenu.TopMenu2.eShop.Mobile.Mobilepostpaidlines")
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.eShop.Mobile.Mobileprepaidlines.URL")">
                            @T("HomePageTopMenu.TopMenu2.eShop.Mobile.Mobileprepaidlines")
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.eShop.Mobile.YOLines.URL")">
                            @T("HomePageTopMenu.TopMenu2.eShop.Mobile.YOLines")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.eShop.Mobile.MobileGovernoratesoffers.URL")">
                            @T("HomePageTopMenu.TopMenu2.eShop.Mobile.MobileGovernoratesoffers")
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.eShop.Mobile.Mobilephones.URL")">
                            @T("HomePageTopMenu.TopMenu2.eShop.Mobile.Mobilephones")
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="has-child">
                <a href="javascript:void(0);">
                    @T("HomePageTopMenu.TopMenu2.eShop.Internet")
                    <i class="fas fa-sort-down"></i>
                </a>

                <div class="sublist-toggle"></div>
                <ul class="sublist ">
                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.eShop.Internet.ADSLoffers.URL")">
                            @T("HomePageTopMenu.TopMenu2.eShop.Internet.ADSLoffers")
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.eShop.Internet.ADSLSpeedupgrade.URL")">
                            @T("HomePageTopMenu.TopMenu2.eShop.Internet.ADSLSpeedupgrade")
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.eShop.Internet.4GFlyboxffers.URL")">
                            @T("HomePageTopMenu.TopMenu2.eShop.Internet.4GFlyboxffers")
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.eShop.Internet.PrepaidOrangenetoffers.URL")">
                            @T("HomePageTopMenu.TopMenu2.eShop.Internet.PrepaidOrangenetoffers")
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.eShop.Internet.BaitAlAilehoffers.URL")">
                            @T("HomePageTopMenu.TopMenu2.eShop.Internet.BaitAlAilehoffers")
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="has-child">
                <a href="javascript:void(0);">
                    @T("HomePageTopMenu.TopMenu2.eShop.Fiber")
                    <i class="fas fa-sort-down"></i>
                </a>
                <div class="sublist-toggle"></div>
                <ul class="sublist ">
                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.eShop.Fiber.OrangeFiberFastInternet.URL")">
                            @T("HomePageTopMenu.TopMenu2.eShop.Fiber.OrangeFiberFastInternet")
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="">
                <a href="javascript:void(0);">
                  @T("HomePageTopMenu.TopMenu2.eShop.Fixedline") <i class="fas fa-sort-down"></i>
                </a>
                <div class="sublist-toggle"></div>
                <ul class="sublist ">
                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.eShop.Fixedline.Fixedpostpaidlines.URL")">
                           @T("HomePageTopMenu.TopMenu2.eShop.Fixedline.Fixedpostpaidlines")
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:void(0);">
                    @T("HomePageTopMenu.TopMenu2.eShop.Accessories") <i class="fas fa-sort-down"></i>
                </a>
                <div class="sublist-toggle"></div>
                <ul class="sublist ">
                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.eShop.Accessories.Mobileaccessories.URL")">
                         @T("HomePageTopMenu.TopMenu2.eShop.Accessories.Mobileaccessories")
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.eShop.Accessories.Internetaccessories.URL")">
                            @T("HomePageTopMenu.TopMenu2.eShop.Accessories.Internetaccessories")
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.eShop.Accessories.Fixedphones.URL")">
                           @T("HomePageTopMenu.TopMenu2.eShop.Accessories.Fixedphones")
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="@T("HomePageTopMenu.TopMenu2.eShop.Promotions.URL")">
                    @T("HomePageTopMenu.TopMenu2.eShop.Promotions")<i class="fas fa-angle-right"></i>
                </a>
            </li>
            <li class="">
                <a href="@T("HomePageTopMenu.TopMenu2.eShop.Paybillsandrecharge.URL")">
                    @T("HomePageTopMenu.TopMenu2.eShop.Paybillsandrecharge")<i class="fas fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a href="@T("HomePageTopMenu.TopMenu2.eShop.Compareproductslist.URL")">
                    @T("HomePageTopMenu.TopMenu2.eShop.Compareproductslist") <i class="fas fa-angle-right"></i>
                </a>
            </li>
        </ul>
    </li>
    <li class="mobile-root-menu">
        <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.URL")">@T("HomePageTopMenu.TopMenu2.OffersAndServices")<i class="fas fa-angle-right"></i></a>

        <div class="sublist-toggle"></div>
        <ul class="sublist first-level" style="display: none;">
            <li class="back-menu">

                <i class="fas fa-angle-left"></i> Offers and services
            </li>
            <li>
                <a href="javascript:void(0);">
                   @T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile") <i class="fas fa-sort-down"></i>
                </a>
                <div class="sublist-toggle"></div>
                <ul class="sublist">
                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.MobilepostpaidOffers.URL")">
                            @T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.MobilepostpaidOffers")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.Mobileprepaidlines.URL")">
                            @T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.Mobileprepaidlines")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                   
                    <li>
                        <a href="/@T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.YOLines.URL")">
                            @T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.YOLines")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.MobileGovernoratesoffers.URL")">
                            @T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.MobileGovernoratesoffers")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.MobileServices.URL")">
                            @T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.MobileServices")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.FeedWEstafeedservice.URL")">
                           @T("HomePageTopMenu.TopMenu2.OffersAndServices.Mobile.FeedWEstafeedservice")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);">
                    @T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet") <i class="fas fa-sort-down"></i>
                </a>

                <div class="sublist-toggle"></div>
                <ul class="sublist">


                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.ADSLoffers.URL")">
                            @T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.ADSLoffers")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.Fiberoffers.URL")">
                            @T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.Fiberoffers")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.BaitAlAilehoffers.URL")">
                            @T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.BaitAlAilehoffers")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.4GFlyboxoffers.URL")">
                            @T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.4GFlyboxoffers")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.PrepaidOrangenet.URL")">
                           @T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.PrepaidOrangenet")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>


                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.Internetservices.URL")">
                            @T("HomePageTopMenu.TopMenu2.OffersAndServices.Internet.Internetservices")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>


                </ul>

            </li>

            <li>
                <a href="javascript:void(0);">
                    @T("HomePageTopMenu.TopMenu2.OffersAndServices.InternationalandRoamin") <i class="fas fa-sort-down"></i>
                </a>

                <div class="sublist-toggle"></div>
                <ul class="sublist">
                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.InternationalandRoamin.URL")">
                          @T("HomePageTopMenu.TopMenu2.OffersAndServices.InternationalandRoamin")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>


            <li>
                <div class="es-submenu-footer-mobile">
                    <ul>

                        <li>
                            <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.OrangePremium.URL")">
                                <span>@T("HomePageTopMenu.TopMenu2.OffersAndServices.OrangePremium")</span><i class="fas fa-angle-right"></i>
                            </a>
                        </li>

                        <li>
                            <a href="@T("HomePageTopMenu.TopMenu2.OffersAndServices.Elite+.URL")">
                                <span>@T("HomePageTopMenu.TopMenu2.OffersAndServices.Elite+")  </span><i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="imgs">
                        <li>
                            <a href="https://www.orange.jo/en/beinconnect/pages/getvoucher.aspx">
                                <span class="bein-icon"></span>
                            </a>
                        </li>
                    </ul>

                </div>
            </li>
        </ul>

    </li>
    <li class="mobile-root-menu">
        <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.URL")">
            @T("HomePageTopMenu.TopMenu2.Myaccount")
            <i class="fas fa-angle-right"></i>
        </a>
        <div class="sublist-toggle"></div>
        <ul class="sublist first-level" style="display: none;">
            <li class="back-menu">

                <i class="fas fa-angle-left"></i> @T("HomePageTopMenu.TopMenu2.Myaccount")
            </li>
            <li>

                <a href="javascript:void(0);">
                   @T("HomePageTopMenu.TopMenu2.Myaccount.Loginandregister")<i class="fas fa-sort-down"></i>
                </a>

                <div class="sublist-toggle"></div>
                <ul class="sublist ">
                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.Loginandregister.Login.URL")">

                            @T("HomePageTopMenu.TopMenu2.Myaccount.Loginandregister.Login") <i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.Loginandregister.Register.URL")">
                           @T("HomePageTopMenu.TopMenu2.Myaccount.Loginandregister.Register") <i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.Loginandregister.UpdateIEWprepaidinfo.URL")">
                            @T("HomePageTopMenu.TopMenu2.Myaccount.Loginandregister.UpdateIEWprepaidinfo") <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li>

                <a href="javascript:void(0);">
                    @T("HomePageTopMenu.TopMenu2.Myaccount.Billspaymentandrecharge")<i class="fas fa-sort-down"></i>
                </a>

                <div class="sublist-toggle"></div>
                <ul class="sublist">
                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.Billspaymentandrecharge.Paybillsandrechargeonline.URL")">
                            @T("HomePageTopMenu.TopMenu2.Myaccount.Billspaymentandrecharge.Paybillsandrechargeonline")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.Billspaymentandrecharge.e-sh7anli.URL")">
                            @T("HomePageTopMenu.TopMenu2.Myaccount.Billspaymentandrecharge.e-sh7anli") <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.Billspaymentandrecharge.Paymentmethods.URL")">
                           @T("HomePageTopMenu.TopMenu2.Myaccount.Billspaymentandrecharge.Paymentmethods")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>

            <li>

                <a href="javascript:void(0);">
                    @T("HomePageTopMenu.TopMenu2.Myaccount.Ordertracking")<i class="fas fa-sort-down"></i>

                </a>

                <div class="sublist-toggle"></div>
                <ul class="sublist">
                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.Ordertracking.CheckeShoporderstatus.URL")">
                            @T("HomePageTopMenu.TopMenu2.Myaccount.Ordertracking.CheckeShoporderstatus") <i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.Ordertracking.Fiberlineordertracking.URL")">
                            @T("HomePageTopMenu.TopMenu2.Myaccount.Ordertracking.Fiberlineordertracking") <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>

            <li>

                <a href="javascript:void(0);">
                    @T("HomePageTopMenu.TopMenu2.Myaccount.Rewards")<i class="fas fa-sort-down"></i>
                </a>

                <div class="sublist-toggle"></div>
                <ul class="sublist">
                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.Myaccount.Rewards.OrangeDeals.URL")">
                            @T("HomePageTopMenu.TopMenu2.Myaccount.Rewards.OrangeDeals") <i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href= "@T("HomePageTopMenu.TopMenu2.Myaccount.Rewards.TikramPoints.URL")">
                            @T("HomePageTopMenu.TopMenu2.Myaccount.Rewards.TikramPoints") <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="mobile-root-menu">
        <a href="javascript:void(0);">
           @T("HomePageTopMenu.TopMenu2.Help")
            <i class="fas fa-angle-right"></i>
        </a>
        <div class="sublist-toggle"></div>
        <ul class="sublist first-level" style="display: none;">
            <li class="back-menu">

                <i class="fas fa-angle-left"></i> @T("HomePageTopMenu.TopMenu2.Help")
            </li>
            <li>

                <a href="javascript:void(0);">
                   @T("HomePageTopMenu.TopMenu2.Help.Helptopics")<i class="fas fa-sort-down"></i>
                </a>

                <div class="sublist-toggle"></div>
                <ul class="sublist">

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.Help.Helptopics.Onlinechat.URL")">
                            @T("HomePageTopMenu.TopMenu2.Help.Helptopics.Onlinechat")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.Help.Helptopics.Contactus.URL")">
                            @T("HomePageTopMenu.TopMenu2.Help.Helptopics.Contactus")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.Help.Helptopics.Storelocator.URL")">
                           @T("HomePageTopMenu.TopMenu2.Help.Helptopics.Storelocator")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.Help.Helptopics.Djingo-chatbot.URL")">
                            @T("HomePageTopMenu.TopMenu2.Help.Helptopics.Djingo-chatbot")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.Help.Helptopics.Yourguide.URL")">
                            @T("HomePageTopMenu.TopMenu2.Help.Helptopics.Yourguide")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.Help.Helptopics. 4G+.URL")">
                            @T("HomePageTopMenu.TopMenu2.Help.Helptopics. 4G+")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>

            <li>

                <a href="javascript:void(0);">
                   @T("HomePageTopMenu.TopMenu2.Help.FAQ")<i class="fas fa-sort-down"></i>
                </a>

                <div class="sublist-toggle"></div>
                <ul class="sublist ">
                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.Help.FAQ.Internet.URL")">
                           @T("HomePageTopMenu.TopMenu2.Help.FAQ.Internet")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.Help.FAQ.Mobile.URL")">
                            @T("HomePageTopMenu.TopMenu2.Help.FAQ.Mobile")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <a href="@T("HomePageTopMenu.TopMenu2.Help.FAQ.Fixedline.URL")">
                            @T("HomePageTopMenu.TopMenu2.Help.FAQ.Fixedline")<i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="@T("HomePageTopMenu.TopMenu2.Help.Coveragemap.URL")">
                  @T("HomePageTopMenu.TopMenu2.Help.Coveragemap")<i class="fas fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a href="@T("HomePageTopMenu.TopMenu2.Help.Promotions.URL")">
                    @T("HomePageTopMenu.TopMenu2.Help.Promotions")<i class="fas fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a href="@T("HomePageTopMenu.TopMenu2.Help.Paybillsandrecharge.URL")">
                   @T("HomePageTopMenu.TopMenu2.Help.Paybillsandrecharge")<i class="fas fa-angle-right"></i>
                </a>
            </li>
        </ul>
    </li>
    <li class="mobile-root-menu-footer active-sub-menu">
        <div class="es-q-links">
            <ul>
                <li>
                    <a href="@T("HomePageTopMenu.TopMenu1.Personal.URL")" target="_self" class="org-primary">
                        @T("HomePageTopMenu.TopMenu1.Personal")
                    </a>
                </li>
                <li>
                    <a href="@T("HomePageTopMenu.TopMenu1.Bussiness.URL")" target="_self">
                        @T("HomePageTopMenu.TopMenu1.Bussiness")
                    </a>
                </li>
                <li>
                    <a href="@T("HomePageTopMenu.TopMenu1.Enterprise.URL")" target="_self">
                       @T("HomePageTopMenu.TopMenu1.Enterprise")
                    </a>
                </li>
                <li>
                    <a href="@T("HomePageTopMenu.TopMenu1.Innovation.URL")" target="_self">
                        @T("HomePageTopMenu.TopMenu1.Innovation")
                    </a>
                </li>
                <li>
                    <a href="@T("HomePageTopMenu.TopMenu1.QuickPayRefill.URL")" target="_self" class="qpay org-primary">
                        @T("HomePageTopMenu.TopMenu1.QuickPayRefill")
                    </a>
                </li>
                <li><a id="follow-us" href="@T("HomePageTopMenu.TopMenu1.FollowUS.URL")">@T("HomePageTopMenu.TopMenu1.FollowUS")</a></li>
            </ul>
        </div>
    </li>
</ul>

<script asp-location="Footer">

    $(document).ready(function () {

        $(".top-menu.mobile").insertAfter('.header-background');

        $('.es-menu').on('click', function () {
            $(this).toggleClass('open');
            $('.top-menu.mobile').fadeToggle();
            $('.hd-lower-right .es-menu-icon').toggleClass('active')
        });

        $('.top-menu.mobile .first-level .sublist-toggle').on('click', function () {
            $(this).siblings('.sublist').fadeToggle();
            $(this).siblings('a').toggleClass('org-primary').children('i').toggleClass('fa-sort-down fa-sort-up');
        });

        $('.top-menu.mobile .sublist-toggle').on('click', function () {
            $(this).parent('li').siblings('li').children('.sublist').hide();
            $(this).parent('li').siblings('li').children('a').removeClass('org-primary').children('.fa-sort-up').addClass('fa-sort-down').removeClass('fa-sort-up');

        });

        $('.mobile-root-menu > .sublist-toggle').on('click', function (e) {
            $(this).parent('.mobile-root-menu').siblings('.mobile-root-menu').hide();
            $(this).siblings('a').hide();
            $(this).siblings('.sublist').fadeIn();
            $(".mobile-root-menu-footer").addClass('active-sub-menu');
        });

        $('.back-menu').on('click', function (e) {
            var back = $(this);
            $('.header-menu').fadeOut('fast', function (e) {
                $(".mobile-root-menu-footer").removeClass('active-sub-menu');
                back.parent('.sublist').hide();
                back.parent('.sublist').siblings('a').show();
                $('.header-menu').fadeIn();
                back.parents('.mobile-root-menu').siblings('.mobile-root-menu').show();
            });
        });
    });

    function closeMenu() {
        $('.top-menu.mobile').slideUp('fast');
        $('.es-menu-accordion').hide();
        $('.hd-lower-right .es-menu-icon').removeClass('active');
    }

</script>